@{
    ViewBag.Title = "Who am I?";
}
    <div class="about-section">
        <img src="picture.jpg" alt="Mike" style="width:50%">
        <h1>John</h1>
        <p class="lead">Howdy</p>
        <p><a href="https://johnsabour.com" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
    </div>

