@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game2Play</h1>
    <p class="lead">Find out what Game you should play next based on your current favorites!</p>
    <p><a href="https://johnsabour.com" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Most Popular</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">See More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Browse Categories</h2>
        <!--
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        -->
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Releases</h2>
        <!--
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        -->
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">See more &raquo;</a></p>
        </div>
    </div>
